.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 356px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 0 0 1px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-1 .u-image-1 {
    height: 213px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 540px;
}

.u-section-2 .u-text-1 {
  margin: 45px auto 0 27px;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  margin: 20px 702px 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 381px;
  margin: -358px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 502px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 282px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 241px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 448px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 102px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 310px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 39px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 332px;
    height: 240px;
    margin-top: -747px;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fgfg.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 38px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 11px 375px 0 -61px;
}

.u-section-3 .u-list-1 {
  width: 310px;
  margin: 11px auto 37px 61px;
}

.u-section-3 .u-repeater-1 {
  min-height: 464px;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 300;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-3 .u-list-1 {
    margin-left: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 607px;
}

.u-section-4 .u-image-1 {
  width: 359px;
  height: 475px;
  margin: 19px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 19px 364px 60px 421px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 264px;
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: 472px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 154px;
    margin-left: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 64px;
    margin-left: 121px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-4 .u-image-1 {
    height: 450px;
    margin-top: 87px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: 8px 0 51px;
  }
}